body{
    background-color:salmon;
    max-width: 1024px;
    margin: auto;
}
nav {
  
    background: rgb(151, 213, 66);
    border: 5px solid rgb(221, 219, 219);
    margin: -55px;
    margin-top:-2%;
    margin-bottom: 3%;
    padding: 1px 0px;
    float: left;
    width: 1150px;
    margin-top: 1%;
   
   
}

fieldset{
border-color: rgb(172, 13, 13);
}
nav ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 20px
}

nav ul li{
    float: left;
    padding: 0px 35px;
}
img.logoFoto{

    width: 220px;
    position: absolute;
    top: 1%;
    right: 140px;

}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35pt;
    text-align: center;
    color: black;
}
h2{
    text-align:center;
    color: rgb(172, 13, 13);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{

    width: 220px;
    position: absolute;
    top: 1%;
    right: 140px;

}

img.NiñoFoto{
    width:300px;
   display: block;
    margin-top: 1cm;
   margin-left: 8cm;
    
}

img.AdultoFoto{
    width:300px;
    display: block;
     margin-top: 1cm;
    margin-left: 8cm;

}
img.CompeticionFoto{
    width:300px;
   display: block;
    margin-top: 1cm;
   margin-left: 8cm;
}

img.JugandoFoto{
    width:300px;
   display: block;
    margin-top: 1cm;
   margin-left: 8cm;
}
img.PadelFoto{
    width:300px;
   display: block;
    margin-top: 1cm;
   margin-left: 8cm;
}

