body{
    background-color:salmon;
    max-width: 1024px;
    margin: auto;
}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35pt;
    text-align: center;
    color: black;
}


nav {
  
    background: rgb(151, 213, 66);
    border: 5px solid rgb(221, 219, 219);
    margin: -55px;
    margin-top:-2%;
    margin-bottom: 3%;
    padding: 1px 0px;
    float: left;
    width: 1150px;
    margin-top: 1%;
   
   
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 20px
}

nav ul li{
    float: left;
    padding: 0px 35px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;
    text-align: center;
    color: rgb(172, 13, 13);
    

}

h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;
    text-align: justify;
    color: rgb(172, 13, 13);

}


.logo{

    width: 220px;
    position: absolute;
    top: 1%;
    right: 140px;

}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

img.Equipo{

    width: 900px;
    display: block;
    margin: auto;

}
.IntalacionesFoto{

    width: 900px;
    display: block;
    margin: auto;
    margin-top:3%;
}
video.neverGiveUp{
    display: block;
    margin: auto;
    margin-top:5%;
}
h5{
    font-size: 16pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    margin-left: 12cm;
}
h6{
    font-size: 16pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    color: rgb(172, 13, 13);
    margin-left: 8cm;
    margin-bottom: 1%;
}

